.home {
  display: flex;
  transition: all 0.3s ease;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease;
}

.small-sidebar {
  width: 80px !important;
}

.home-content {
  flex: 1;
  padding-left: 20px;
  transition: margin-left 0.3s ease;
}

.home.home-shrink .home-content {
  margin-left: -170px; /* 250px - 80px */
}
.container{
    background-color: #f9f9f9;
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;

}
.large-container{

    padding-left: 7%;
}